{
  "presets": ["latest", "stage-0", "react"],
  "plugins": [
    [
      "flow-react-proptypes",
      "typecheck", { "disable": { "production": true } }
    ],
    ["transform-runtime", {
      "polyfill": false,
      }],
    "add-module-exports",
    "transform-decorators-legacy"
  ]
}
